
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #383d40;
// $bodyColor: #f46333;
$linkColor: #f46333;
$borderColor: #eee;
$jazzColor: #70c0cb;
$alertColor: #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

// $spacing-xxs: ;
// $spacing-xs: ;
// $spacing-s: ;
// $spacing-m: ;
// $spacing-l: ;
// $spacing-xl: ;