/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	font-size: 115%;
	line-height: 140%;
	color: $darkColor;
	@extend %sans;
  @media screen and (max-width: 990px ) {
    font-size: 105%;
  }
  @media screen and (max-width: 500px ) {
    font-size: 90%;
  }
  @media screen and (max-width: 340px ) {
    font-size: 83%;
  }
}

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;

%heading-size-s { font-size: .95em;}
%heading-size-m { font-size: 1.25em;}
%heading-size-l { font-size: 1.5em;}
%heading-size-xl { font-size: 2em;}


/*

FONTS
------------------------------------------- */

%sans {
	font-family: "source-sans-pro",sans-serif;
}

// %serif {
// 	font-family: ;
// }


/*

HEADINGS
------------------------------------------- */


/*

TEXT
------------------------------------------- */

.column__content {
  margin: 5% 0 0;
  p {
    font-size: 1.1em;
    line-height: 160%;
    margin: 0 0 3.125% 10%;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 480px ) {
      margin-bottom: 5%;
    }
  }
  h2 {
    margin: 0 0 3.5% 10%;
    line-height: 125%;
  }
  h3 {
    margin: 6% 0 1% 10%;
    font-size: 1.3em;
    font-weight: bold;
  }
  @media screen and (max-width: 700px ) {
    p, h2, h3, p.pubdate, blockquote, .page-title {
      margin-left: 0 !important;
    }
  }
}

.page-title {
  margin: 0 0 3.5% 10%;
  font-weight: 800;
  line-height: 140%;
  @extend %heading-size-xl;

}

p.pubdate {
  color: lighten($darkColor, 40%);
  font-size: .85em;
  font-weight: bold;
  margin: 0 0 4% 10%;
}

ul, .show-notes {
  list-style-type: square;
  margin: 0 0 03.125% 10%;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px; 
  } 
  li {
    font-size: 1.1em;
    line-height: 160%;
    padding: 01.25% 0;
    &:last-child {
      padding: 01.25% 0 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin: 0 0 0 10%;
  text-align: left;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px; 
  } 
  li {
    font-size: 1.1em;
    line-height: 160%;
    margin: 0 0 03.125%;
    p {
      font-size: inherit !important;
      margin: 0 0 3.125% 0 !important;
    }
  }
}


/*

INLINE TYPE
------------------------------------------- */

strong {
	font-weight: bold;
}

em, cite {
	font-style: italic;
}

sup {
  a {
    border-bottom: none;
    font-size: .65em;
    font-weight: 800;
  }
}

code {
  background: $borderColor;
  font-family: monospace;
  padding: 2px 5px;
}

/*

BLOCKQUOTE
------------------------------------------- */

blockquote {
  border-left: 10px solid $linkColor;
  color: lighten($darkColor, 25%);
  padding-left: 20px;
  margin: 0 0 03.125% 10%;
  p {
    margin-left: 0 !important;
  }
  small {
    display: block;
    font-size: .80em;
    margin: 02.34375% 0 0;
    &:before {
      content: "—";
      color: $borderColor;
    }
  }
}

/*

HR
------------------------------------------- */

hr {
  border: solid $borderColor;
  border-width: 5px 0 0;
  clear: both;
  margin: 35px auto;
  height: 0;
  width: auto;
  max-width: 350px;
  display: block;
  padding: 0;
}


/*

LINKS
------------------------------------------- */

a {
  color: $darkColor;
  text-decoration: underline;
  @include transition(.2s ease-in-out);
  &:hover {
    color: lighten($darkColor, 15%);
  }
}

.entry p, .content p, .entry ul, .entry ol {
  a {
    color: $linkColor;
    border-bottom: none;
    text-decoration: underline;
    @include transition(.2s ease-in-out);
    &:hover {
      color: darken($linkColor, 15%);
    }
  }
}

/*

ICON FONT
------------------------------------------- */
@include embed-font("Entypo", "../fonts/icon-font/entypo");
%icon-font {
	font-family: "Entypo";
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %icon-font;
  speak: none;
  vertical-align: top;
}