/*

MAIN CONTENT
------------------------------------------- */

.entry {
  border-bottom: 1px solid $borderColor;
  padding: 4.5% 0;
  @media screen and (max-width: 800px ) {
    padding: 6.5% 0;
  }
}

.type-post:first-child {
  .entry {
    padding-top: 0;
  }
}

.single {
  .entry {
    border-bottom: none;
  }
}

.footnotes {
  li {
    font-size: .9em;
  }
}

// Format Post 

.format-post {
  h2 {
    font-size: 2em;
    font-weight: 800;
    a {
      border-bottom: none;
      color: $darkColor;
      font-weight: 800;
      text-decoration: none !important;
      &:hover {
        color: $linkColor;
        border-bottom: none;
      }
    }
  }
  p:nth-child(3) {
    font-size: 1.3em;
  }
}

// Format Link
.format-link {
  h2 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 165%;
  }
  span {
    vertical-align: middle;
  }
}

.link__icon {
  border-bottom: none !important;
  margin: 0 0 0 10px;
  font-size: .85em;
  font-weight: normal !important;
  vertical-align: middle;
  color: lighten($darkColor, 40%) !important;
  text-decoration: none !important;
  &:hover {
    color: $linkColor !important;
  }
}

// Format Video

.format-video {
  h2 {
    font-size: 2em;
    font-weight: 800;
    margin: 3% 0 3% 10%;
    a {
      border-bottom: none;
      color: $darkColor;
      font-weight: 800;
      text-decoration: none !important;
      &:hover {
        color: $linkColor;
        border-bottom: none;
      }
    }
  }
}

.video-pusher {
  margin: 3% 0 6%;
}